.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    background-color: #dcdcdc;
    color: #443200;
}

.div2 {
    grid-column: span 4 / span 4;
    background-color: #dcdcdc;
    color: #443200;
}

.div3 {
    grid-column: span 5 / span 5;
    grid-row-start: 2;
    background-color: #dcdcdc;
    color: #443200;
}

.div4 {
    grid-column: span 5 / span 5;
    grid-row: span 3 / span 3;
    grid-row-start: 3;
    background-color: #dcdcdc;
    color: #443200;
}

.div5 {
    grid-column: span 5 / span 5;
    grid-row-start: 6;
    background-color: #dcdcdc;
    color: #443200;
}

.logo {
    height: 100px;
    width: 100px;
    flex: auto;
}

.contact-form {
    background: #8A9A5B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #244700;
    width: 500px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #8A9A5B;
}

.contact-form input [type="color"],
.contact-form input [type="range"] {
    padding: 2px;
}

.btn-glow {
    background: #dcdcdc;
    color: #443200;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

.btn-glow:hover {
    box-shadow: 0 0 100px #8A9A5B
}

.inline-options {
    display: flex;
    gap: 15px;
}